<div class="login-page">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Login</h5>
      <form action="" class="login-form" #loginForm="ngForm">
        
        <div class="mb-3">
          <label for="formEmail" class="form-label">Email Address</label>
          <input
            ngModel
            name="email"
            type="email"
            class="form-control"
            id="login-email"
            placeholder="name@domain.com"
            required
            #email="ngModel">
        </div>

        <div class="mb-3">
          <label for="formPassword" class="form-label">Password</label>
          <input
            ngModel
            name="password"
            type="password"
            class="form-control"
            id="login-password"
            placeholder="password"
            required
            #password="ngModel">
        </div>
        
        <div class="d-grid">
          <button class="btn btn-primary" type="button" (click)="login(loginForm)">Login</button>
        </div>

      </form>

      <div class="form-val">
        {{ email.valid }}
      </div>
    </div>
  </div>
</div>